<p id="notice"><%= notice %></p>

<h1>Listing Games</h1>

<table>
  <thead>
    <tr>
      <th>Host Name</th>
      <th>Player Name</th>
      <th>Lives</th>
      <th>Current Progress</th>
      <th>Available letters</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.host_name %></td>
        <td><%= game.player_name %></td>
        <td><%= game.lives %></td>
        <td><%= game.underscore_array %></td>
        <td><%= game.available_letters %></td>
        <td><%= link_to 'Play Game', game %></td>
        <td><%= link_to 'Remove Game', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
