<% if (@game.lives == 0) %>
  <h3>THIS GAME IS OVER</h3>
  <h4><%= Game.find(params[:id]).player_name %> could not guess <%= Game.find(params[:id]).player_name %>'s word! </h4>
  <p>
    <%= @game.gallow %>
  </p>
<% elsif (@game.underscore_array == @game.word.split(//).join()) %>
  <h3>THIS GAME IS OVER</h3>
  <h4><%= Game.find(params[:id]).player_name %> correctly guessed <%= Game.find(params[:id]).player_name %>'s word! </h4>
  <p>
    <%= @game.gallow %>
  </p>
<% else %>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Host Name:</strong>
    <%= @game.host_name %>
  </p>

  <p>
    <strong>Player Name:</strong>
    <%= @game.player_name %>
  </p>

  <p>
    <strong>Lives:</strong>
    <%= @game.lives %><br>
    <% def empty_gallow %>
      <% gallow = Array.new(7) { Array.new(26," ") } %>
      <% gallow.select {|row| %>
        <% row[25]="\n" %>
        <% row[13]="|" %>
      <% } %>
      <% i = 7 %>
      <% while i<25 %>
        <% if gallow[6][i] == " " %>
          <% gallow[6][i] = "_" %>
        <% end %>
        <% i+=1 %>
      <% end %>
      <% i = 13 %>
      <% while i<21 %>
        <% gallow[0][i] = "_" %>
        <% i+=1 %>
      <% end %>
      <% gallow[1][20] = "|" %>
      <% gallow[7]="\n" %>
      <% gallow.insert(0,"\n") %>
    <% end %>
    <% if (@game.lives == "6") %>
      <% gallow = empty_gallow %>
      <%= gallow.join %>
    <% elsif (@game.lives == "5") %>
      <% gallow[3][20]="O" %>
      <%= gallow.join %>
    <% elsif (@game.lives == "4") %>
      <% gallow[4][20] = "|" %>
      <%= gallow.join %>
    <% elsif (@game.lives == "3") %>
      <% gallow[4][19] = "/" %>
      <%= gallow.join %>
    <% elsif (@game.lives == "2") %>
      <% gallow[4][21] = "\\" %>
      <%= gallow.join %>
    <% elsif (@game.lives == "1") %>
      <% gallow[5][19] = "/" %>
      <%= gallow.join %>
    <% end %>

  </p>

  <p>
    <strong>Progress:</strong>
    <%= @game.underscore_array.split(//).join(" ") %>
  </p>

  <p>
    <strong>Available letters:</strong>
    <%= @game.available_letters %>
  </p>

  <h3>Play</h3>
  <%= render 'plays/form' %>
<% end %>

<%= link_to 'Back', games_path %>
