<% if (@game.lives == "6") %>
  <% gallow_img =  image_tag('empty_gallow.png', alt: '6 lives') %>
<% elsif (@game.lives == "5") %>
  <% gallow_img =  image_tag('gallow_w_head.png', alt: '5 lives') %>
<% elsif (@game.lives == "4") %>
  <% gallow_img =  image_tag('gallow_w_body.png', alt: '4 lives') %>
<% elsif (@game.lives == "3") %>
  <% gallow_img =  image_tag('gallow_w_1arm.png', alt: '3 lives') %>
<% elsif (@game.lives == "2") %>
  <% gallow_img =  image_tag('gallow_w_arms.png', alt: '2 lives') %>
<% elsif (@game.lives == "1") %>
  <% gallow_img =  image_tag('gallow_w_1leg.png', alt: '1 life') %>
<% elsif (@game.lives == "0") %>
  <% gallow_img =  image_tag('gallow_w_legs.png', alt: 'dead') %>
<% end %>

<% if (@game.lives == 0) %>
  <h3>THIS GAME IS OVER</h3>
  <h4><%= Game.find(params[:id]).player_name %> could not guess <%= Game.find(params[:id]).player_name %>'s word! </h4>
  <p>
    <%= gallow_img %>
  </p>
<% elsif (@game.underscore_array == "Game Over!") %>
  <h3>THIS GAME IS OVER</h3>
  <h4><%= Game.find(params[:id]).player_name %> correctly guessed <%= Game.find(params[:id]).player_name %>'s word! </h4>
  <p>
    <%= gallow_img %>
  </p>
<% else %>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Host Name:</strong>
    <%= @game.host_name %>
  </p>

  <p>
    <strong>Player Name:</strong>
    <%= @game.player_name %>
  </p>

  <p>
    <strong>Lives:</strong>
    <%= @game.lives %><br>
    <%= gallow_img %>
  </p>

  <p>
    <strong>Progress:</strong>
    <%= @game.underscore_array.split(//).join(" ") %>
  </p>

  <p>
    <strong>Available letters:</strong>
    <%= @game.available_letters %>
  </p>

  <h3>Play</h3>
  <%= render 'plays/form' %>
<% end %>

<%= link_to 'Back', games_path %>
